.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  opacity: 0.6;
}

.welcome-description {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.instructions-container{
    padding: 1rem;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255, 0.02);
    border: var(--github-border-color) 2px solid;
    color: var(--github-text-color-light);
}

.welcome-instructions {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.welcome-steps {
  font-size: 1.25rem;
  margin-left: 1rem;
    
}

.welcome-steps strong {
  text-decoration: underline;
}

.welcome-steps li {
  margin-bottom: 0.5rem;
}

.PAT-form {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 1rem;
}
input[type="password"] {
  color: var(--github-text-color);
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255, 0.02);
  border: 2px solid var(--github-border-color);
  width: 100%;
  max-width: 20rem;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #218838;
}

.welcome-message {
    width: 75%;
    font-size: 1.5rem;
    text-align: center;
    color: var(--github-text-color-light);
    margin-bottom: 2rem;
  }
  
  .logout-button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #d73a49;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
@media screen and (max-width: 768px) {
  .welcome-title {
    font-size: 2rem;
  }
  .welcome-description {
    width: 75%;
    font-size: 1rem;
  }

  .instructions-container{
    width: 75%;
  }

  .welcome-instructions {
    font-size: 1rem;
  }
  .welcome-steps {
    font-size: 1rem;
  }
  .welcome-message {
    font-size: 1rem;
  }

  .PAT-form{
    flex-direction: column;
    gap: 0.5rem;
  }

  .PAT-form *{
    width: 100%;
  }


}