:root {
  /* Github Dark theme color pallet */
  --github-primary: #0d1117;
  --github-secondary: #010409;
  --github-text-color: #e6edf3;
  --github-text-color-light: #727a85;
  --github-border-color: #30363d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  fill: var(--github-text-color);
  stroke-width: 1px;
}

footer{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--github-secondary);
  margin-top: 50px;
}

.App {
  /* overflow: hidden; */
  display: grid;
  grid-template-rows: 64px auto;
  min-height: 100svh;
  color: var(--github-text-color);
  background-color: var(--github-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.app-main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 64px);
}

.app-main-container {
  width: 80%;
  display: grid;
  grid-template-columns: 400px auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #010409;
  color: #fff;
}

.navbar-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-title a {
  color: #fff;
  text-decoration: none;
}

.navbar svg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  border: 2px solid var(--github-border-color);
  border-radius: 6px;
  overflow: hidden;
  z-index: 9999;
}

.person-icon{
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.search-bar svg{
  color: var(--github-text-color-light);
  fill: var(--github-text-color-light);
}

.search-bar input[type="text"] {
  
  flex: 1;
  min-width: 80px;
  height: 28px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  background-color: transparent;
  color: var(--github-text-color);
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.search-bar input[type="text"]:focus {
  border-color: #0366d6;
}

.search-bar button {
  width: 40px;
  height: 100%;
  background: #000;
  border: none;
  color: var(--github-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar svg {
  width: 20px;
  height: 20px;
  margin: 0;
}

.repo-container {
  display: flex;
  flex-direction: column;
}

.repo-navbar{
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 4px solid var(--github-border-color);
}

.repo-navbar svg{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: var(--github-text-color-light);
  fill: var(--github-text-color-light);
}

.repo-navbar-header{
  display: flex;
  align-items: center;
}

.search-bar > button:active{
  background-color: #30363d;
}

.error{
  display: flex;
  align-items: center;
  color: red;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(255, 0, 0, 0.2);
  padding: 1rem;
  top: 0;
  animation: fadein 1s;
  position: absolute;
}

.error button{
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: red;
  border: none;
}

.error svg{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: red;
  fill: red;
}

@keyframes fadein {
  from { top: -50px; }
  to   { top: 0; }
}

@media (max-width: 420px) {
  .navbar{
    height: fit-content;
    padding-block: 0.5rem;
    flex-direction: column;
  }

  .search-bar{
    width: 100% !important;
  }
}


/* Small screens (up to 576px) */
@media (max-width: 576px) {
  .navbar-title{
    font-size: 1rem;
  }
  .navbar{
    gap: 1rem;
  }
  .search-bar{
    width: auto;
    flex-grow: 1;
  }
}

/* Medium screens (up to 768px) */
@media (max-width: 768px) {
  .app-main-container{
    display: flex;
    flex-direction: column;
  }
}

/* Large screens (up to 1024px) */
@media (max-width: 1024px) {
  .app-main-container{
    width: 100%;
    padding: 1rem;
  }
  .repo-navbar{
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 100px;
  }
}

/* Extra large screens (up to 1200px) */
@media (max-width: 1200px) {
  .app-main-container{
    grid-template-columns: 300px auto;
  }


}